body {
  font-family: Arial;
}
.header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-left: 0px;
  border-bottom: 2px solid gray;
  margin-bottom: 15px;
}

.header-title {
  padding: 0 5px;
}

h1 {
  font-size: 32px;
  margin-right: 20px;
}

img {
  height: 64px;
  margin: 0 20px 0 0;
}

h2 {
  font-size: 26px;
}

label {
  font-size: 16px;
}

.inner {
  margin-left: 40px;
}

.options-list {
  padding: 0;
  list-style: none;
}

.options-list li {
  padding: 10px;
}

.time {
  font-size: 16px;
}

.limit {
  display: inline-block;
  margin: 0;
  font-size: 12px;
}

.radioChoice {
  margin-left: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 96%;
  position: fixed;
  bottom: 10px;
}

.button {
  padding: 10px;
  border: 2px solid grey;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  width: 150px;
  text-align: center;
  margin: 10px 0px;
}

#stopCapture {
  display: none;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  color: white;
  background-color: black;
}

#save {
  font-size: 16px;
  margin-left: 50px;
}

#status {
  color: red;
  margin-top: 8px;
  margin-left: 50px;
  font-size: 14px;
}

#qualityLi {
  display: none;
}

#maxTime {
  width: 30px;
  text-align: center;
}

.checkbox-container {
  padding: 10px; 
}

.dropdown-container {
  padding: 10px; 
}

select {
  float:right;
  width: 200px;
}

/* Tablet/Phone mode */
@media (max-width: 1000px) {
  .header img {
    height: 100px;
  }
  h1 {
    font-size: 40px;
  }

  .checkbox-container {
    display: none;
  }

  label {
    font-size: 24px;
  }
  select {
    width: 300px;
    font-size: 20px;
  }

  .button {
    font-size: 25px;
    width: 250px;
  }

  #transcription {
    font-size: 30px;
  }

  
}